@import 'nav.css';
@import 'footer.css';

section p {
  padding: 5px 25px;
}

section p span {
  color: red;
}

form {
  padding: 10px 20px;
}

fieldset {
  border: 1px solid #282626;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

fieldset button {
  background-color: #4b33a6;
  border-color: #4b33a6;
  border-radius: 1rem;
  color: white;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}

fieldset label {
  margin-bottom: 5px;
}

fieldset input,
fieldset textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-wrapper {
  padding: 10px 20px;

  & img {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  /* desktop */
  section {
    display: grid;
    justify-content: center;
  }
  form {
    min-width: 700px;
  }
  .image-wrapper {
    grid-column: 2;
    grid-row: 1 / span 6;
  }
  .image-wrapper img {
    max-width: 600px;
  }

}